body{
    padding-top: 80px;
    width: 60%;
    margin:auto;
}
.calendar{
        display: inline-flex;
        border: 1px rgb(173, 173, 173) solid;
    }
 .calendar input{
  height: 20px;
  padding: 4px;
  
  margin-left: 3px; 
  border: none;
  width: 135px;
  font-size: 16px;
  text-align: left;
 }   
.calendar img{
padding-right: 2px;
border-left: 1px solid rgb(195, 193, 193);
margin-left: 1px;
padding-left: 3px;
height: 25px ;
width: auto;
align-self: center;
z-index: 0;
}   
 
.calendarTable{
        border-collapse: collapse;    
        position: absolute;
        width: 206px;
        height: 228px;
      }
 
 .calendarTable caption{
    height: 22px;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;  
    border-top: 1px solid black;
    background-color: rgb(109, 95, 95);
    z-index: 0;
   }  
   .calendarTable img{
    margin-right: 10px;
    margin-left: 10px;
    height: 20px ;
    width: auto;  
    border: none;  
    }   
.calendarTable caption span{
    height: 25px;
    font-weight: bold;
    color: wheat;
    width: 100px;
   }   
.calendar #up{
   float: left;
}
.calendar #down{
    float: right;
}

 
.picker table, th, td, tr{
    background: rgb(179, 179, 179);
    padding: 4px;;
    text-align: center;
    width: 16px
}
.calendarTable .selected{
    background: white;
   }
   .calendarTable .n{
    background: rgb(177, 172, 172);
    color: rgb(129, 129, 129)
   }